body {
  /* max-width: 1650px; */
  min-width: 950px;
  margin: 0 auto;
}

.well {
  left: -140px;
  max-width: 380px;
  min-width: 380px;
}




.one_upload {
  margin-bottom: 10px;
}

/* font style: labels of fileInput elements */
.control-label {
  font-size: 16px;
  font-weight: bold;
}
/* text of No file selected */
.form-control[readonly="readonly"] {
  padding-left: 20px;
}

/* fileInput box with border */
.input-group {
  border: 1px solid #CCCCCC;
  border-radius: 3px;
}

#userEmail {
  margin-left: -2px;
  border-radius: 3px;
}


/* #uploaded_fasta_div>div {
  margin-bottom: 0px;
} */

/* gap betwen label and box of fileInput */
.progress {
  margin-bottom: 0px;
}

.form-group {
  margin-bottom: 0px;
}

/* hight of progressbar of genes with text */
#promoters_pre-gene_for_pmet_progress {
  height: 14px;
}

#promoters_pre-gene_for_pmet_progress>div {
  line-height: 15px;
}

#promoters_pre-skipped_genes_link {
  float: right;
}

.big_font {
  font-size: 16px;
  font-weight: bold;
}


/* parameters font size */
#promoters-promoter_length-label {
  font-size: 13px;
  font-weight: normal;
}
#promoters-max_motif_matches-label {
  font-size: 13px;
  font-weight: normal;
}
#promoters-promoter_number-label{
  font-size: 13px;
  font-weight: normal;
}
#promoters-fimo_threshold-label{
  font-size: 13px;
  font-weight: normal;
}
#promoters-utr5-label {
  font-size: 13px;
  font-weight: normal;
}
#promoters-promoters_overlap-label{
  font-size: 13px;
  font-weight: normal;
}

.parameters_box {
  padding-left: 15px;
  padding-right: 20px;
}
