# Ignore changes in execution permissions
* -text

# ignore contents of fimo but keep fimo folder
**/fimo/**
!**/fimo/.gitkeep


.prof
.log
.exe
.a

PMETdev/scripts/pmetindex
PMETdev/scripts/pmetParallel.exe
PMETdev/scripts/pmetParallel_linux
PMETdev/scripts/pmetParallel_mac
PMETdev/src/pmetParallel/bin/pmetParallel



### For R
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/


# R Environment Variables
.Renviron

#### For C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app



# General
.DS_Store
.vscode
promoters_rough.fa
result/indexing/test
data/diff_genes
result/indexing/test1
result
fimo
pmet
data/indexing

data/cpu_configuration.txt
data/email_credential.txt
build
