.Rproj.user
.Rhistory
.RData
.DS_Store
/data/*
!/data/.gitkeep
.vscode
/result/*
!/result/.gitkeep

**/fimo/


utils/PMETdev/src/indexing/bin/pmetindex
utils/PMETdev/src/pmet/bin/pmet
utils/PMETdev/scripts/*


.prof
.log
.png
.jpg
.jpeg

*.prof
utils/PMETdev/src/pmet/test/motif_output.txt
*.log
utils/PMETdev/src/pmetParallel/bin/pmetParallel
